/* main.css */

/* 기본 스타일 */
@import url('_base/_reset.css');
@import url('_base/_typography.css');

/* 레이아웃 스타일 */
@import url('_layout/_header.css');
@import url('_layout/_container.css');
@import url('_layout/_footer.css');
@import url('_layout/_pages.css');

/* 컴포넌트 스타일 */
@import url('_components/_button.css');
@import url('_components/_form.css');
@import url('_components/_login.css');
@import url('_components/_popup.css');
@import url('_components/_signup.css');

/* 메인 배경 컨테이너 */
.main-bg-container {
    display: flex;
    align-items: center;   /* 세로 중앙 정렬 */
    flex-grow: 1; /* 헤더와 푸터를 제외한 모든 수직 공간 차지 */
    text-align: center;
    justify-content: center;
    margin: 0 120px; /* 좌우 여백 추가 */
    
    background-image: url('/static/images/cont_bg.png'); /* 배경 이미지 */
    background-size: cover; /* 이미지가 영역을 꽉 채우도록 설정 */
    background-position: center; /* 이미지를 중앙에 위치 */
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.main-bg-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: #fff;
}