/* _layout/_footer.css */
footer {
    font-size: 13px;
    padding: 10px 120px;
    background-color: var(--background-color-white); 
    color: var(--text-color-light); 
    border-top: 1px solid var(--border-color-light); 
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;
}

/* 왼쪽 컨텐츠(로고+정보)를 묶는 스타일 */
.footer-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.info-logo img {
    height: 40px;
    display: block;
}

.info-details p {
    margin: 0;
    line-height: 1.6;
}
