/* _layout/_header.css */
header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header {
    display: flex;
    align-items: center;
}